/*
=== Basic Styling ===
*/

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-size: 62.5%
}

body {
 background-image: url('/assets/images/juan-ordonez--DPOuSLaO34-unsplash.jpg');
 background-size: contain;
 color: white;
 -webkit-font-smoothing: antialiased;
}

body, label, select, p, a, input, button {
  font-size: 1.5rem;
  font-family: 'Helvetica';
}

h1 {
  font-size: 4rem;
  text-align: center;
}

h2 {
  font-size: 2.5rem;
}

button {
 cursor: pointer;
}

/*
=== Header Styling ===
*/

header {
  margin: 5vh 0;
  padding: 5vh 0;
  background: rgba(0, 0, 0, 0.849);
  width: 100vw;
}


/*
=== Description Styling ===
*/

#description {
  font-size: 2rem;
  text-align: center;
  width: 75vw;
  margin: 4vh 12.5vw;
  border: 2px dotted salmon;
}

/*
=== Form Styling ===
*/

#survey-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: rgba(0, 0, 0, 0.849);
  margin: 0 5vw;
}

.formWrapper .formEntery {
  margin: 5vh 10vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formEntery label {
  font-size: 2rem;
  margin-top: 5vh;
  padding: 20px;
  border: 2px solid orange;
  border-radius: 20px;
}

.formEntery input {
  width: 60vw;
  margin: 3vh 20vw;
  height: 5vh;
  border: 2px solid salmon;
  
}
