* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

html {
 background: lightblue;
 color: black;
 -webkit-font-smoothing: antialiased;
}

#number {
  width: 5px;
  font-size: 1.5rem;
}
input:required {
  border: 1px solid red;
}