

/* 
@media only screen and (max-device-width: 2500px) {
  #title-heading {
    background-image: url("/assets/images/welcome_2500.jpg");
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: screen;
    background-color: rgba(245, 245, 245, 0.8);
    color: black;
  }
}
@media only screen and (max-device-width: 1200px) {
  #title-heading {
    background-image: url("/assets/images/welcome_1200.jpg");
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: screen;
    background-color: rgba(245, 245, 245, 0.8);
    color: black;
  }
}
@media only screen and (max-device-width: 850px) {
  #title-heading {
    background-image: url("/assets/images/welcome_850.jpg");
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: screen;
    background-color: rgba(245, 245, 245, 0.8);
    color: black;
  }
}
@media only screen and (max-device-width: 600px) {
  #title-heading {
    background-image: url("/assets/images/welcome_600.jpg");
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: screen;
    background-color: rgba(245, 245, 245, 0.8);
    color: black;
  }
}
@media only screen and (max-device-width: 400px) {
  #title-heading {
    background-image: none;
  }
} */
